<h1>Main Component {{ version }}</h1>
<ul>
    <li *ngFor="let day of sortedDays()">
        <day-item [day]="day"></day-item>
    </li>
</ul>

<form class="ui large form segment">
    <h3 class="ui header">Add a Link</h3>
    <div class="field">
        <label for="title">Title:</label>
        <input name="title" #newtitle>
    </div>
    <div class="field">
        <label for="link">Link:</label>
        <input name="link" #newlink>
    </div>
    <button (click)="addArticle(newtitle, newlink)" class="ui positive right floated button">Submit</button>
</form>